:root{
    --bg-button: #fff;
    --border-button:solid 1px #888;
}
.button{
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}
.button:active{
    background-color: #ccc;
}
.button.double{
    grid-column: span 2;

}
.button.triple{
    grid-column: span 3;
}
.button.op{
    background-color: orange;
    color: '#fff';
}
.button.op:active{
    background:orangered ;

}